table.tests {
  border-collapse: collapse
}

table.tests td {
  border: 1px solid black;
  vertical-align: top
}

td.ok {
  background-color: #c0ffc0;
}

td.fails {
  background-color: #ff6040
}

td.xfails, td.skips, td.compats {
  background-color: #ffe040
}
